[ req ]
default_bits = 4096
prompt = no
default_md = sha512
x509_extensions = v3_ca
distinguished_name = dn

[ dn ]
C=AU
ST=Some-State
O=Internet Widgits Pty Ltd
emailAddress=ca@example.com
CN=Example CA

[ v3_ca ]
basicConstraints = critical, CA:TRUE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage = critical, cRLSign, keyCertSign
